:root{
    --text_color:lavender;
    --text:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(192, 207, 207);
}

header{
    padding: 20px;
    color:var(--text_color);
    background-color: cadetblue;
    border-bottom: 5px solid darkcyan;
}

footer{
    margin-top: 50px;
    padding: 20px;
    color:var(--text_color);
    background-color: cadetblue;
    border-top: 5px solid darkcyan;
}

footer h4{
    text-align: center;
}

header h1{
    font-size: 36px;
    display: inline-block;
}

header nav{
    padding-top: 15px;
    float: right;
    font-family: var(--text);
    font-size: 20px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

a {
    color:var(--text_color);
    text-decoration: none;
}

h2{
    background-color: rgb(90, 90, 90);
    opacity: 0.85;
    color: var(--text_color);
    font-family: var(--text);
}

.img-section{
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background_img.jpg");
    background-size: cover;
    background-position: center;
}

.img-section h2{
    width:fit-content;
    font-size: 30px;
    padding: 15px;
    position: absolute; /*This will position the header on the middle right of the img-section */
    right: 0;
    bottom: 20px;
}

.img-section img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkgray;
    /* border: 2px solid rgb(80, 79, 79); */
    box-shadow: inset 0px 0px 10px  rgb(219, 219, 219), 0 0 17px  rgb(219, 219, 219);
    
}

/* ------------------Article related  -------------------*/
article > section{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    margin-top: 25px;
}

/* Direct h2 children of section that is direct child of article */
article > section > h2{
    width: 200px;
    color:var(--text_color);
    flex: 0 0 15%;
}

/* This is for the project cards */
.project-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*The main design for each of the cards for uniformity*/
.project-card{
    position: relative;
    flex: 0 0 40%;
    padding: 20px;
}

/* This one will have a greater value than the others */
#project-card-main{
    flex: 0 0 80%;
}

.project-card h2{
    width:max-content;
    font-size: 100%;
    padding: 20px;    
    position: absolute; /*This will position the header on the middle left of the img-section */
    left: 20px;
    bottom: 15%;

}

.project-card img{
    width:100%;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 5px;
}

/* ------------------ Contact Me related --------------------- */
#contact-me-main{
    font-family: var(--text);
    color:rgb(58, 58, 58);
} 
#contact-me-main ul{
    padding-left: 35px;
    list-style-type: square;
}
#contact-me-main a{
    display: inline-block;
    color:rgb(58, 58, 58);
}


/*--------------- Styling effects --------------------*/
/*Boxes that are hovered over with defined text-shadow class will have a text-shadow*/
.box-shadow:hover{
    box-shadow: inset 0px 0px 8px  rgb(80, 79, 79), 0 0 15px  rgb(80, 79, 79);
}

/*Text that is hovered over with defined text-shadow class will have a text-shadow*/
.text-shadow:hover{
    text-shadow:5px 5px 5px rgb(80, 79, 79);
}


/*left border on right content and makes content on the right follow flex rules*/
.right-content{
    border-left: 3px solid darkcyan;
    flex: 0 0 85%;
    padding-left: 10px;
}

/* nav li that is hovered over will be underlined
header nav ul li:hover{
    text-decoration: underline darkcyan;
} */

/*--------------- Media queries --------------------*/
@media screen and (max-width: 625px) {
    header{
        display: flow-root;
    }
    header h1{
        display:block;
    }
    header nav{
        float: left;
    }
    
    header nav ul li{
        display: block;
        margin-left: 0px;
    }

    article{
       flex-direction: column;
    }
    .project-card-container{
        justify-content: center;
    }

    .project-card, #project-card-main{
        flex: 0 0 100%;
    }
    /* #project-card-main{
        flex: 0 0 80%;
    } */
    .right-content{
        flex: 0 0 100%;
        border-top: 3px solid darkcyan;
        border-left: none;
        padding-top: 5px;
        padding-left: 0px;
    }

    .img-section img{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    article > section > h2{
        padding-bottom: 5px;
        flex: 0 0 100%;
    }

    #contact-me-main ul{
        padding-left: 25px;
    }

    #about-me main{
        padding-left: 10px;
    }
  }

  @media screen and (min-width: 740px) {
    .img-section img{
        width: 150px;
        height: 150px;
    }

  }
